.emoji{
    width: 100px;
    height: auto;
}

.emojiAndName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#778899;
}

.navbar{
    background-color: rgb(14, 51, 83);
    align-items: center;
    color: black;
    
}

a{
    margin: 5px;
}


@media screen and (max-width:700px){
    #header {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 470px){
    .emojiAndName{
        display: flex;
        flex-direction:column;
    }
    #header{
        display:flex;
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
}
