.main{
    padding:20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #778899;
}

.list{
    margin-left: 15px;
    margin-right: 15px;
}

.picDown{
    background-color: #778899;
}
.picFun{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color:#778899 ;
    padding-bottom: 20px;
}